<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="agendaVirtual" connectionString="Data Source=SQL5018.Smarterasp.net;Initial Catalog=DB_9FD0E4_aula;User Id=DB_9FD0E4_aula_admin;Password=;"/>  
  </connectionStrings>
  
  
</configuration>
